.country{
    background-color: #94a3f86b;
    border: 3px solid gray;
    border-radius: 1rem;
}
.country img{
    max-width: 90%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.8rem;
}